body {
    background: url("img/background.jpeg"); /* Links to your background image, which you can also replace with a URL. */
    background-size: cover; /* Image covers page. */
    background-repeat: no-repeat; /* Image does not repeat. */
    background-attachment: fixed; /* Image doesn't move when you scroll up or down. */
    background-position: center;
    text-align: center;
    color: white; /* Text color. */
    font-family: 'Avenir', sans-serif; /* Font: sans-serif included in case browser doesn't support first option. */
}

h1 {
    font-size: 4vw;
}

h2 {
    font-size: 2vw;
}

/* This just centers the header container vertically on the page. */
.container-fluid {
    height: 200px;
    width: 100%;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* Styling for icons. */
.fa {
    color: white;
    margin: 10px 5px;
    font-size: 3em !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.button {
    display: inline-block;
    border-radius: 4px;
    border: none;
    text-align: right;
    vertical-align: top;
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px;
    width: 130px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}